name: Tests

on:
  push:
    branches: ["main"]

permissions:
  actions: read
  contents: write
  pages: write  

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Set up Node    
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Package
        run: npm install -g pagecrypt 

      - name: Install Package
        run: pagecrypt Reports/input.html ${{ github.run_id }}/index.html password${{ github.run_id }} 
          
      - name: Deploy Report
        if: always()
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ${{ github.run_id }}
          clean: true
          clean-exclude: |
            *.html