name: Tests

on:
  push:
    branches: ["master"]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"
          cache: maven

      - name: Set up Node    
        uses: actions/setup-node@v3
        with:
          node-version: 18
          
      - name: Deploy Extent Report
        if: always()
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./Reports